<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ '/style.css' | versioned }}">
</head>
<body>
  <div class="site-container">
    <header>
      <h1><a href="/">Judy Winsor</a></h1>
      <p class="subtitle">Personal website of Judy Winsor</p>
    </header>

    <!-- New Nav --> 
    {% include "partials/nav-list.njk" %}

    <main>
{% if page.url != "/" %}
{% if page.url != "/tags/" %}
  <article class="h-entry">
<h1 class="p-name">{{ title }}</h1>
<p class="published">
    <time class="dt-published" datetime="{{ date | formatDate('yyyy-MM-dd') }}">
      Date Published: {{ date | formatDate("MMMM d, yyyy") }}
    </time>
  </p>
  <p class="p-author h-card">
  Written By: <a class="p-name u-url u-uid" rel="me" href="https://journal.judywinsor.com">Judy Winsor</a>
</p>
{% endif %}
{% if tags %}
  <p class="post-tags">
    {% for tag in tags %}
      {% set lowerTag = tag | lower %}
      <a href="/tags/#{{ lowerTag | slug }}">{{ lowerTag }}</a>
    {% endfor %}
  </p>
{% endif %}
{% endif %}

<div class="e-content">
          {{ content | safe }}
          </div>
  </article>
    </main>

    <footer>
      <p>&copy; 2025 <a href="https://read.judywinsor.com/about" rel="me">Judy Winsor</a></p>
      <p>Created with <a href="https://www.11ty.dev/">11ty</a> | <a href="#top">Back to Top</a></p>
        <p class="p-author h-card" style="display:none;">
  <a class="p-name u-url u-uid" rel="me" href="https://journal.judywinsor.com">Judy Winsor</a>
</p>
    </footer>
  </div>
  <script>
document.addEventListener("DOMContentLoaded", function () {
  const navToggle = document.querySelector(".nav-toggle");
  const siteMenu = document.getElementById("site-menu");

  navToggle.addEventListener("click", function () {
    siteMenu.classList.toggle("show");

    // Update aria-expanded for accessibility
    const expanded = navToggle.getAttribute("aria-expanded") === "true" || false;
    navToggle.setAttribute("aria-expanded", !expanded);
  });
});
</script>
</body>
</html>