---
permalink: false             # don’t output an actual HTML file
eleventyNavigation:
  title: "Shop"              # what shows up in your nav
  url: "https://jwinsorart.com/"
  order: 6                    # where it lives relative to your other links
---
