    <footer>
    <p>
  <a href="https://journal.judywinsor.com/now">/now</a> | 
  <a href="https://journal.judywinsor.com/uses">/uses</a> | 
  <a href="https://journal.judywinsor.com/links">/links</a> | 
  <a href="https://journal.judywinsor.com/feed.xml"><span class="meta-svg" style="display:inline-block; margin-right:0.3rem; vertical-align:middle;"><!-- Decorative (ignored by screen readers) -->
{% icon "rss", { class: "meta-svg", width: 18, height: 18 } %}</span>RSS</a> | 
  <a href="https://status.cafe/users/jwinsorart"><img src="https://status.cafe/users/jwinsorart/badge.png" alt="Status Cafe Profile"/></a>
</p>
      <p><span class="meta-svg" style="display:inline-block; margin-right:0.3rem; vertical-align:middle;"><!-- Decorative (ignored by screen readers) -->
{% icon "copyright", { class: "meta-svg", width: 18, height: 18 } %}</span>2025 <a href="https://journal.judywinsor.com/about" rel="me">Judy Winsor</a></p>
      <p>Created with <a href="https://www.11ty.dev/">11ty</a> | <a href="#top"><span class="meta-svg" style="display:inline-block; margin-right:0.3rem; vertical-align:middle;"><!-- Decorative (ignored by screen readers) -->
{% icon "arrow-up", { class: "meta-svg", width: 18, height: 18 } %}</span>Back to Top</a></p>
        <p class="p-author h-card" style="display:none;">
  <a class="p-name u-url u-uid" rel="me" href="https://journal.judywinsor.com">Judy Winsor</a>
</p>
    </footer>